<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zlong.dao.ProductMapper">
    <select id="getProductDetails" parameterType="com.zlong.entity.dto.ProductDto"  resultType="com.zlong.entity.po.ProductPo">
        SELECT * FROM products WHERE 1=1
        <if test="id != null and id !=''">
            AND id=#{id}
        </if>
        <if test="name != null and name !=''">
            AND name=#{name}
        </if>
        <if test="description != null and description !=''">
            AND description=#{description}
        </if>
        <if test="photo != null and photo !=''">
            AND photo=#{photo}
        </if>
        <if test="price != null and price !=''">
            AND price=#{price}
        </if>
        <if test="stock != null and stock !=''">
            AND stock=#{stock}
        </if>
        <if test="categoryid != null and categoryid !=''">
            AND categoryid=#{categoryid}
        </if>
    </select>
</mapper>